<a href="https://colab.research.google.com/github/acrobat91/python/blob/main/Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

#df_credit = pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/CoderHouse/ProyectoFinal/Datasets/creditcard.csv")
#df_credit.head(10)

# serpiente es para definir clases mi_variable

Mounted at /content/drive

In [ ]:
miValor = 2
valorUsuario = input()

print(miValor, valorUsuario)

6
2 6

# Operadores de Asignación

In [ ]:
# Operadores de asignación compuestas

a = 4
a += 5
a -= 5
a *= 5
a /= 5
a **= 5

# Suma
suma = 1 + 1
print('Suma:', suma)

print('Suma directa:', 1+1)

# Resta

resta = 1 - 1

print('Resta:', resta)

#Multiplicacion
multiplicacion = 5 * 5

print('Multiplicación:', multiplicacion)

# Division
division = 100 / 10
print('Division:', division)

print(type(division))

# Division entera
division_entera = 100 // 10

print('Division entera:', division_entera)
print(type(division_entera))


# Division módulo
division_modulo = 2% 3
print('Division modulo:', division_modulo)


# Exponenciacion
exponenciacion = 2 ** 2
print('Exponenciación:', exponenciacion)

Suma: 2
Suma directa: 2
Resta: 0
Multiplicación: 25
Division: 10.0
<class 'float'>
Division entera: 10
<class 'int'>
Division modulo: 2
Exponenciación: 4

# Asignación Múltiple

In [ ]:
miVariable1, miVariable2, miVariable3 = 4, 3, "Hola"
print(miVariable1, miVariable2, miVariable3)


miEntero, miBooleano = 15, True
print(miEntero, miBooleano)

4 3 Hola
15 True

# Strings functions

In [ ]:
# Concatenacion
print('Hola ' + 'Mundo')

miCadena1, miCadena2 = "Hola", 'Estefany '

print(miCadena1, miCadena2)


# Repeticion
print(miCadena2 * 5)


#Indexar
miIndexacion = 'El perro corre en el parque'

print(miIndexacion[4])

#Rebanar / slicing
print(miIndexacion[0:4])
print(miIndexacion[0:8:2])

miCadena = 'Hola,otravez'
print(miCadena[3:10:-1])

Hola Mundo
Hola Estefany
Estefany Estefany Estefany Estefany Estefany
e
El p
E er

# Input (Valores de entrada)

In [ ]:
input('Cuantos años tienes:')

Cuantos años tienes29

'29'

In [ ]:
print('¡Hola, Mundo!')

saludo = '¡Hola, Mundo!'
print(saludo)

¡Hola, Mundo!
¡Hola, Mundo!

In [ ]:
nombre = input('Escribe tu nombre: ')

print('_ . _ . _ .')
print(f'¡Hola, {nombre}!')

Escribe tu nombre: Mando
_ . _ . _ .
¡Hola, Mando!

In [ ]:
operacion = ((-2)/(2*2)) ** 2

print('El resultado de la operación es: ', operacion)

El resultado de la operación es:  0.25

In [ ]:
a = 2
b = 3

if a == 2:
  a = 3

if b == 3:
  b = 2


print('El valor de a es: ', a)
print('El valor de b es: ', b)

El valor de a es:  3
El valor de b es:  2

In [ ]:
a, b = 2, 3

a, b = b, a

print('El valor de a es: ', a)
print('El valor de b es: ', b)

El valor de a es:  3
El valor de b es:  2